<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/mlincoln1205" target="_blank"><i class="fab fa-github" ></i></a>
      <a href="https://www.linkedin.com/in/lincoln-marcolongo-85312367/" target="_blank"><i class="fab fa-linkedin" ></i></a>
        </div>
          <div class="log">
          <h4> Mr. Cocktail Da_ZL </h4>
        </div>
      <div class="footer-copyright">
    This <i class="fas fa-glass-martini-alt"></i> was made with <i class="fas fa-heart"></i>
  </div>
</div>
