<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://images.vexels.com/media/users/3/156834/isolated/preview/7001ac7e95729ee662f2af03243f9af2-martini-cocktail-flat-icon-by-vexels.png"  width="30" height="30" class="d-inline-block align-top" alt="">
      Mr. Cocktail Da_ZL
    </a>
  <%= link_to "Create a drink", new_cocktail_path, class: "btn btn-primary"  %>
</nav>
